<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsCloseGoToTrayIcon" value="False"/>
		<add key="ConfigFileBackupPath" value="脚本代码\WpfHomeTool"/>
		<add key="ApiPort" value="5010"/>
		<add key="PhotoExts" value="JPG,JPEG,HEIC,CR2"/>
		<add key="VideoExts" value="MP4,MOV"/>
	</appSettings>
</configuration>