<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--添加自定义节点，并指定使用字典类型来读取。configSections必须写在顶部作为configuration的第一个节点-->
	<configSections>
		<section name="zipOutputFolder" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<appSettings>
		<add key="IsCloseGoToTrayIcon" value="False"/>
		<add key="IsPreventComputerSleep" value="True"/>
		<add key="ConfigFileBackupPath" value="脚本代码\WpfHomeTool"/>
		<add key="Office365AccountSection" value="MsGraphSdkApp_xltrg"/>
		<add key="SecretFilePath" value="脚本代码\AccountSecrets.json"/>
		<add key="ApiPort" value="5080"/>
		<add key="PhotoExts" value="JPG,JPEG,HEIC,CR2"/>
		<add key="VideoExts" value="MP4,MOV"/>
		<add key="SavesFolder" value="./Saves"/>
		<add key="ParallelTabAmount" value="4"/>
		<add key="ImageFapDownloadAlbumUrlPath" value="./Saves/ImageFap_DownloadAlbums.txt"/>
		<add key="ImageFapUndownloadFilePath" value="./Saves/ImageFap_UndownloadFiles.csv"/>
		<add key="ImageSavePath" value="F:/Image Download"/>
		<add key="IsNeedCreateAlbumFolder" value="True"/>
		<add key="yt-dlp_Path" value="F:\Youtube批量下载\yt-dlp.exe"/>
		<add key="YoutubeDownloadDirectory" value="F:\"/>
	</appSettings>
	<zipOutputFolder>
		<add key="Desktop" value="C:\Users\jinge\Desktop"/>
		<add key="WaitingToUpload" value="F:\WaitingToUpload"/>
	</zipOutputFolder>
</configuration>