<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsCloseGoToTrayIcon" value="False"/>
		<add key="ConfigFileBackupPath" value="脚本代码\WpfHomeTool"/>
		<add key="ApiPort" value="5080"/>
		<add key="PhotoExts" value="JPG,JPEG,HEIC,CR2"/>
		<add key="VideoExts" value="MP4,MOV"/>
		<add key="SaveFolder" value="./Save"/>
		<add key="ImageFapUndownloadAlbumUrlPath" value="./Save/ImageFap_UndownloadAlbumUrls.txt"/>
		<add key="ImageFapDownloadAlbumUrlPath" value="./Save/ImageFap_DownloadAlbums.txt"/>
		<add key="ImageFapUndownloadFilePath" value="./Save/ImageFap_UndownloadFiles.csv"/>
		<add key="ImageFapDownloadFilePath" value="./Save/ImageFap_DownloadFiles.csv"/>
	</appSettings>
</configuration>