<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<!-- 当文件大小达到1MB时，生成新的日志文件 -->
		<!--<target name="logfile" xsi:type="File"
				fileName="logs/log.txt"
				archiveAboveSize="1000000"
				archiveFileName="logs/log-{##}.txt"
				archiveNumbering="Rolling"/>-->
		<!-- 每天生成一个日志文件，文件名以日期开头 -->
		<target name="logfile" xsi:type="File"
				fileName="logs/${shortdate}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="90" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>